<div class="global">
  <p class="answered">Zenikademy compte actuellement {{articleNumber}} articles!</p>
  <p class="answered">Zenikademy compte actuellement {{userNumber}} profils utilisateur!</p>
</div>
