<div>
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur Zenikademy Blog!</h1>
    <p class="lead">La plateforme ou les anciens élèves publient pour aider les nouveaux!</p>
    <hr class="my-4">
    <p>Vous pouvez accéder librement aux contenus! Si vous désirez apporter votre pierre à l'édifice,
      créez votre profil!</p>
    <div class="text-center">
      <a class="btn btn-profil" href="#" role="button" [routerLink]="'/profilCreator/' " routerLinkActive="active">
        Créer mon Profil
      </a>
    </div>
  </div>
</div>
