<div class="global" *ngFor="let article of articleListByTitle">
  <div>
    <div>
      <p class="leftBoxed">{{article.category}}</p>
    </div>
    <nav>
      <a class="boxedWhite" [routerLink]="'/article/' + article.id" routerLinkActive="active">
        {{article.title}} / {{article.synopsis}} <br></a>
    </nav>
  </div>
  <div>
    <p class="rightBoxed">{{article.status}}</p>
  </div>
</div>
