<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="" routerLinkActive="active">ACCUEIL</a></li>
    <li class="breadcrumb-item"><a routerLink="/profilCreator" routerLinkActive="active">PROFIL</a></li>
    <li class="breadcrumb-item"><a routerLink="/articleList" routerLinkActive="active">TOUS LES ARTICLES</a></li>
    <li class="breadcrumb-item"><a routerLink="/articleFinder" routerLinkActive="active">TROUVER UN ARTICLE</a></li>
    <li class="breadcrumb-item"><a routerLink="/articleGenerator" routerLinkActive="active">CEER UN ARTICLE</a></li>
    <li class="breadcrumb-item"><a routerLink="/stats" routerLinkActive="active">STATISTIQUES</a></li>
  </ol>
</nav>
<router-outlet></router-outlet>
