<div class="global">
  <label class="lined">Entrez l'identifiant de l'article que vous souhaitez consulter !</label>
  <li>
    <div class="boxed">
      <input class="form-control form-control-lg" id="articleId" type="text"
             [(ngModel)]="idFromInput"
             (ngModelChange)="change()">
    </div>
    <div class="boxed">
      <button class="btn-profil" (click)="clicked()">Ok!</button>
    </div>
  </li>
</div>
<div [hidden]="isHidden">
  <app-article [id] = "idFromInput" (errorArticle)="onArticleError($event)" ></app-article>
</div>
<div>{{error}}</div>
