<div class="global">
  <label class="answered">Entrez le titre de votre article : </label>
  <div class="boxed">
    <input class="form-control form-control-lg" id="enonce" type="text" [(ngModel)]="title">
  </div>
  <label class="answered">Entrez le contenu de votre article : </label>
  <div class="boxed">
    <input class="form-control form-control-lg" id="content" type="text" [(ngModel)]="content">
  </div>
  <label class="answered">Entrez le résumé de votre article : </label>
  <div class="boxed">
    <input class="form-control form-control-lg" id="synopsis" type="text" [(ngModel)]="synopsis">
  </div>
  <label class="answered">Choisissez la catégorie de votre article! </label>
  <div class="boxed">
    <input class="form-control form-control-lg" id="category" type="text" [(ngModel)]="category">
  </div>
  <div class="answered">
    <button class="btn-profil" (click)="generateArticle()">Générez l'article !</button>
  </div>
  <p class="answered">{{creationValidation}}</p>
</div>

