<div class="global">
  <label class="lined">Entrez le titre de l'article que vous souhaitez consulter !</label>
  <li>
    <div class="boxed">
      <input class="form-control form-control-lg" id="articleTitle" type="text"
             [(ngModel)]="titleFromInput"
             (ngModelChange)="change()">
    </div>
    <div class="boxed">
      <button class="btn-profil" (click)="clicked()">Ok!</button>
    </div>
  </li>
</div>
<div [hidden]="isHidden">
  <app-article-list-by-title [title] = "titleFromInput" (errorArticle)="onArticleError($event)" ></app-article-list-by-title>
</div>
<div>{{error}}</div>
