<div class="global">
    <div class="boxed">
      <div class="form-group">
        <label for="exampleInputPseudo">Pseudo</label>
        <input type="pseudo" class="form-control" id="exampleInputPseudo" placeholder="Entrez votre pseudo!"
               [(ngModel)]="pseudo">
      </div>
    </div>
    <div class="boxed">
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Entrez votre adresse email!" [(ngModel)]="mail">
        <small id="emailHelp" class="form-text text-muted">Nous ne partagerons pas vos données personnelles.</small>
      </div>
    </div>
    <div class="boxed">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Rester connecté</label>
      </div>
      <button type="submit" class="btn-profil" (click)="createProfil()">Créer le profil!</button>
    </div>
  <p class="answered">{{creationValidation}}</p>
</div>
