.global {
  color: white;
  background: linear-gradient(135deg, #DEEA16, #166208);
}
.boxed {
  display: flex;
  justify-content: center;
}
.answered {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.btn-profil {
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  color: #166208;
  background: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn-profil:hover {
  background: #166208;
  color: white;
  padding: 6px 12px;
  font-style: italic;
}
.lined {
  display: flex;
  justify-content: space-evenly ;
}
