<div class=global>
  <div *ngIf="article">
    <div class="doubleBoxedEnds">
      <p class="leftBoxedCategory">{{article.category}}</p>
      <p class="rightBoxedStatus">Status : {{article.status}}</p>
    </div>
    <p class="boxedTitle">{{article.title}}</p>
    <p class="boxedContent">{{article.content}}</p>
    <div [hidden]="isHidden">
      <label class="answered">Entrez le nouveau contenu de votre article : </label>
      <div class="boxed">
        <input class="form-control form-control-lg" id="content" type="text" [(ngModel)]="updatedContentFromInput"
               (ngModelChange)="change()">
      </div>
      <div class="boxed">
        <button class="btn-profil" (click)="update()">Modifier!</button>
      </div>
    </div>
    <p class="boxedSynopsis">Résumé : {{article.synopsis}}</p>
    <div class="doubleBoxed">
      <button class="btn-profil " (click)="publish()">Publier!</button>
      <button class="btn-profil" (click)="change()">Modifier?</button>
    </div>
  </div>
</div>
